/* Estilo inicial para pantallas más grandes */
.menu {
  transition: all 0.3s ease-in-out;
  margin-left: 255px;
  height: 1500px;
  border: 1px solid rgb(255, 255, 255);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.menu--large {
  margin-left: 80px;
}

@media (max-width: 768px) {
  .menu {
    margin-left: 80px; 
  }
}
