@import '~bootstrap/dist/css/bootstrap.min.css';

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  :root{
    --color-text-sidebar: #ffffff;
    --font-size-sm: 22px;
    --font-size-md: 17px;
    --margin-left-menu: 32px;
  }
  @import 'primeng/resources/primeng.min.css';
@import 'primeicons/primeicons.css';